/* 배너 */
.inner{
  position: relative;
  width: 980px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
}
.btn-close{
  position:absolute;
  background: url(https://www.lottecinema.co.kr/NLCHS/Content/images/icon/close_19_wht.png) no-repeat 50% 50%;
  width: 20px;
  height: 20px;
  top: 40%;
  right: 0;
}

 /* 헤더 세션 */
 .header_section_all{
  position: relative;
  height: 114px;
  border-bottom: 1px solid #EEE;
  background-color: #fff;
  color: #000;
}
 /* 헤더 fixed 시 css */

/* 로고 */
.logo1{
  position: absolute;
  z-index: 1;
  top: 18px;
  left: 50%;
  margin-left: -109px;
  text-indent: -9999em;
  background : url("https://www.lottecinema.co.kr/NLCHS/Content/images/common/logo.png") ;

  width: 219px;
  height: 37px;
}
.logo1 a{
  display: block;
  width: 219px;
  height: 37px;
}

/* 왼쪽 ul 테그 정리 */
.gnb{
  border-bottom: 1px solid #656565;
  position: relative;
  width: 980px;
  height: 70px;
  margin: 0 auto;
}
 .g_menu1all{
  float: left;
  margin-top: 40px;
  opacity: 1;
  color: #656565;
}
.g_menu1all li{
  margin-right: 14px;
  float: left;
}
.g_menu1all a{
  height: 14px;
  line-height: 14px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: block;
  color: #656565;
}
.afb1{
    background-image: url(https://www.lottecinema.co.kr/NLCHS/Content/images/icon/gnb_facebook.png);
    padding-left: 18px;
}

.ayt1{
  background-image: url(https://www.lottecinema.co.kr/NLCHS/Content/images/icon/gnb_youtube.png);
  padding-left: 19px;
}
.ain1{
  background-image: url(https://www.lottecinema.co.kr/NLCHS/Content/images/icon/gnb_follow2.png);
  padding-left: 17px;
}
/* 오른쪽 ul 테그 정리 */
.g_menu2all{
  opacity: 1;
  float: right;
  margin-top: 40px;
  color: #656565;
}
.g_menu2all li{
  margin-right: 14px;
  float: left;
}
.g_menu2all a{
  height: 14px;
  line-height: 14px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: block;
  color: #656565;
}
/* 오른쪽 아래 ul 테그 정리 */
.g_menu3all{
  position: absolute;
  right: 0;
  top: 86px;
  margin-top: 0;
}
.g_menu3all li{
  margin-right: 25px;
  float: left;
}
.g_menu3all a{
  height: 14px;
  line-height: 14px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: block;
  color: #656565;
}
 /* 메인 nav1 */
 .nav1{
  width: 980px;
  margin: 3px auto 0;
  text-align: center;
}
.nav1 li{
  display: inline-block;

}
.nav1 a{
  color: #000;
  line-height: 40px;
  position: relative;
  padding: 0 24px;
  font-size: 14px;
  letter-spacing: 0.1em;
}
 /* none 세션 */
.nav1 .display{
  display: none;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 114px;
  height: 38px;
  text-align: center;
}
.nav1 .before2{
  opacity: 1;
  position: absolute;
  top: 83%;
  height: 9px;
  margin-top: -5px;
  border-left: 1px solid #c0c0c0;
}

 /* 헤더 세션 */
 .header_section{
  position : absolute;
  z-index: 2;
  height: 194px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(29,29,31,1) 0%,rgba(0,0,0,0) 100%);
   /* background-color:gray;  */
}
// 헤더 fixed 시 css
.header_section.fixed{
  border-bottom: 1px solid #EEE;
  background: #fff;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
  height: 43px;
}
.logo a{
  display: block;
  width: 219px;
  height: 37px;
}
/* 왼쪽 ul 테그 정리 */
.gnb1{
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  position: relative;
  width: 980px;
  height: 70px;
  margin: 0 auto;
}
 .g_menu1{
  opacity: .5;
  float: left;
  margin-top: 40px;
}
.g_menu1 li{
  margin-right: 14px;
  float: left;
}
.g_menu1 a{
  height: 14px;
  line-height: 14px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: block;
  color: #FFF;
}
/* 오른쪽 ul 테그 정리 */
.g_menu2{
  opacity: .5;
  float: right;
  margin-top: 40px;
}
.g_menu2 li{
  margin-right: 14px;
  float: left;
}
.g_menu2 a{
  height: 14px;
  line-height: 14px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: block;
  color: #FFF;
}
/* 오른쪽 아래 ul 테그 정리 */
.g_menu3{
  position: absolute;
  right: 0;
  top: 88px;
  margin-top: 0;
}
.g_menu3 li{
  margin-right: 25px;
  float: left;
}
.g_menu3 a{
  height: 14px;
  line-height: 14px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: block;
  color: #FFF;
}
/* 메인 nav */
.nav{
  width: 980px;
  margin: 3px auto 0;
  text-align: center;
}
.nav li{
  display: inline-block;

}
.nav a{
  color: #FFF;
  line-height: 40px;
  position: relative;
  padding: 0 24px;
  font-size: 14px;
  letter-spacing: 0.1em;
}
// none 세션
.nav .display{
  display: none;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 114px;
  height: 38px;
  text-align: center;
}
