.ms_read_td{
  border: 1px solid #f5f5f5 !important;
}
.ms_cal{
cursor: pointer;
}
.v-field__overlay{
 position: relative !important;
}
.ms_list_table_tr > th:nth-child(n){
  text-align: center !important;
  background-color: rgb(240, 240, 240) !important;
  font-weight: 600 !important;
  border: 1px solid #f5f5f5 !important;
}
.ms_list_table_tb_tr > td:nth-child(n){
  text-align: center !important;
  border: 1px solid #f5f5f5 !important;
}
.ms_vbtn{
  // max-width: 31px !important;
  // min-width: 80px !important;
  height:40px !important;
  font-size:14px !important;
  font-weight:600 !important;
  background-color: #efefef !important;
  // border: 1px solid rgb(200, 200, 200) !important;
  border-radius: 4px;
  color: rgb(116, 116, 116) !important;
}

.ms_main_table{
  text-align: end;
  background-color: rgb(240, 240, 240);
  font-size: 13px;
  font-weight: 500 !important;
  /* text-align: center; */
  align-items: center;
  // max-width: 100%;
  // min-width: 100%;
  height: 43px;
  // min-height: unset !important;
  /* border-bottom: 3px solid rgb(204, 204, 204) !important; */
}

.v_input_box{
  color: #8f8f8f;
}
.v-text-field input{
  color: black !important;
}
.ms_read_movie span{
  font-weight: 600;
  color: rgb(97, 97, 97) !important;
}
.ms_in_check_all{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.ms_in_check{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
// 삭제 버튼
.ms_del_box{
  width: 100%;
  text-align: end;
}
.ms_del_btn{
  border: 1px solid rgb(226, 226, 226) !important;
  // background-color: rgb(240, 240, 240);
}
.ms_del_btn span{
  font-weight: 600;
  font-size: 14px;
  color: rgb(97, 97, 97) !important;
}
.mp_in_check{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.mp_read_movie span{
  font-weight: 600;
  color: rgb(97, 97, 97) !important;
}
.mp_reg_check_all{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.mp_reg_check{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
// 삭제 버튼
.mp_reg_box{
  width: 100%;
  text-align: end;
}
.mp_reg_btn, .mp_del_btn{
  border: 1px solid rgb(226, 226, 226) !important;
  // background-color: rgb(240, 240, 240);
}
.mp_reg_btn span,.mp_del_btn span{
  font-weight: 600;
  font-size: 14px;
  color: rgb(97, 97, 97) !important;
}
.v-input--density-default .v-field__input {
  min-height: 30px !important;
}
// .t_mt_vc2{
//   max-width: 230px !important;
//   min-width: 230px !important;
// }
.t_mt_vc2 .v-text-field input{
  min-width: 100px !important;
}
// .t_select{
//   max-width: 120px !important;
//   min-width: 120px !important;
// }